<p>Your students choose from a list of your Assignments when they're using the mobile app.</p>
<p>Assignments can be used to organise your different classes, teaching topics, or individual student groups.</p>
