<% title "Viewing all photos in " + @assignment.title %>

<p>These are all the photos that have been uploaded to the <%= @assignment.title %> assignment.</p>

<div id="photo_grid_wrapper">
  <%= render partial: "photos/photo_row", locals: { photos: @photos } %>
  <div class="clearfix"></div>
</div>

<p>View all of the uploaded photos here on a large interactive map.</p>

<div id="multi_point_map">
  <!-- Map goes here -->
</div>

<p> </p>

<%= link_to 'Back to homepage', root_path, :class => "btn" %>