<% title "Viewing photos tagged with " + @tag.name %>

<p>These are all the photos that have been tagged with <%= @tag.name %>.</p>

<div id="photo_grid_wrapper">
  <%= render partial: "photos/photo_row", locals: { photos: @photos } %>
  <div class="clearfix"></div>
</div>

<p>View all of the tagged photos here on a large interactive map.</p>

<div id="tag_map">
  <!-- Map goes here -->
</div>

<p> </p>

<%= link_to 'Back to homepage', root_path, :class => "btn" %>