<div id="photo_grid_wrapper">
  <% assignments.each do |assignment| %>
    <div class="assignment_row">
      <h2><%= assignment.title %> <span class="small"><%= link_to "View details", assignment %></span></h2>
      <p><%= assignment.description %></p>
      <%= render partial: "photo_row", locals: { photos: assignment.photos } %>
      <div class="clearfix"></div>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>