<% if @search_term.present? %>
  <% searching_title = "Searching For Photos Related To " + @search_term.titlecase %>
  <% title searching_title %>
  <h3><%= searching_title %></h3>
<% else %>
  <h3>You're viewing all Photos that have been uploaded.</h3>
  <% title "Viewing All Photos" %>
<% end %>

<%= render partial: "photo_grid", locals: { photos: @photos } %>

<%= link_to 'Upload Photo', new_photo_path, class: "btn" %>