<% if @assignments.count == 0 %> 
  <% title "You Have No Assignments" %>
  <h3>You haven't got any Assignments. Why not create one?</h3>
  <%= link_to 'New Assignment', new_assignment_path, class: "btn" %>
<% else %>
  <% title "Viewing Your Assignments" %>
  <h3>You're viewing all your Assignments.</h3>
  <%= render partial: "photo_grid", locals: { photos: @photos, assignments: @assignments } %>
  <%= link_to 'New Assignment', new_assignment_path, class: "btn" %>
<% end %>