<% title "Your Assignments" %>
<h3>Showing all your Assignments and uploaded Photos.</h3>
<%= render partial: "photo_grid", locals: { photos: @photos, assignments: @assignments } %>
<%= link_to 'Create a new Assignment', new_assignment_path, class: "btn" %>
<%= link_to 'Manually upload a Photo', new_photo_path, class: "btn" %>
