<% title "Upload a new Photo" %>

<p>This form allows you to upload photos directly from this teacher web interface.</p>

<p>This can be useful when uploading example photos for your students to view on their mobile devices.</p>

<%= render 'form' %>