body {
	font-family: "helvetica neue", "lucida grande", sans-serif;
	line-height: 1.5em;
	color: #333;
	font-size: 11pt;
}

header {
	padding: 18px 20px;
	background-color: #20202a;
	color: #aaa;
	height: 72px;
	font-weight: 200;
}

h1 {
	font-size: 1.85em;	
}

h2 {
	font-size: 1.45em;
}

h3 {
	font-size: 1.15em;
}

h1, h2, h3 {
	font-weight: 200;
	line-height: 1.7em;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;	
}

header h1 {
	color: white;
}

header h2 {
	font-size: 1em;
}

header h2 a {
	font-weight: 700;
	color: #d55;
	text-decoration: none;
}

/* Make the EduCam link in the header show an underline on hover to indicate it's a link */
header h2 a:hover {
	text-decoration: underline;
}

/* Styles the login_register container to be a horizontal row of buttons */
header #login_register {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 15px;
	right: 15px;
	text-align: right;
}

header #login_register p {
	margin-top: 0;
	margin-bottom: 15px;
}

/* Styles the login_register container to be a horizontal row of buttons */
header #login_register a {
	margin-left: 15px;
}

/* Styles the top navigation buttons with a red gradient, rounded corners, and white font colour */
.btn  {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 11pt;

	background-color: #dd5555;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(221, 85, 85)), to(rgb(222, 43, 56)));
	background-image: -webkit-linear-gradient(top, rgb(221, 85, 85), rgb(222, 43, 56));
	background-image: -moz-linear-gradient(top, rgb(221, 85, 85), rgb(222, 43, 56));
	background-image: -o-linear-gradient(top, rgb(221, 85, 85), rgb(222, 43, 56));
	background-image: -ms-linear-gradient(top, rgb(221, 85, 85), rgb(222, 43, 56));
	background-image: linear-gradient(top, rgb(221, 85, 85), rgb(222, 43, 56));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dd5555', EndColorStr='#de2b38');

	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* Remove background gradient on hover */
.btn:hover {
	background-image: none;
}

.clearfix {
	clear: both;
}

#content {
	margin: 20px;
}

.alert {
	&.alert-error {
		background-color: #f2dede;
		border: 1px solid #eed3d7;
		color: #b94a48;
		border-radius: 5px;
		margin: 15px 0px;
		p {
			margin: 0px;
			padding: 10px 12px;
		}
	}
}

.assignment_row {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 15px 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {

	header {
		/*height: 150px;*/
		height: auto;
	}

	header #login_register {
		top: 0;
		position: static;
		right: 0;
		text-align: left;
		margin-top: 10px;
	}

	header #login_register p {
		top: 0px;
		position: static;
	}

	/* Styles the login_register container to be a horizontal row of buttons */
	header #login_register a {
		margin-left: 0px;
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
	}

	/* Styles the login_register container to be a horizontal row of buttons */
	header #login_register a:nth-of-type(1) {
		margin-right: 12px;
	}

	.left {
		margin-right: 15px;
		margin-left: 15px;
	}

	.right {
		display: none;
	}

}