// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo_grid_wrapper {
	margin-top: 15px;
	overflow: hidden;
}

#photo {
	float: left;
	width: 50%;
}

#photo_grid_wrapper .photo img {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

#photo_grid_wrapper .photo img:hover {
	opacity: 0.7;
}

#photo_grid_wrapper .photo {
	width: 200px;
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
	position: relative;
}

.photo .details p {
	margin: 0;
	line-height: 2em;
}

.photo .details p.tags {
	font-size: 0.9em;
	color: rgb(210,210,210);
}

#photo_grid_wrapper .photo .details {
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

#photo_grid_wrapper .photo a:hover + .details {
	display: block;
}

#single_photo_wrapper {
	margin-top: 15px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
}

#single_photo_wrapper img {
	width: 100%;
}

#photo_search {
	display: inline;
	position: absolute;
	top: 10px;
	right: 21px;
}

#map {
	width: 45%;
	height: 469px;
	float: left;
	margin-left: 20px;
}

.assignment_row {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 15px 20px 5px 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.assignment_row h2 {
	display: inline;
}

span.small a:hover {
	color: #000;
	text-decoration: underline;
}

span.small, span.small a {
	color: #666;
	text-decoration: none;
}

.assignment_row span.small {
	margin-left: 8px;
}

.assignment_row p {
	margin-bottom: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {

	#photo {
		float: none;
		width: 100%;
	}

	#map {
		width: 100%;
		height: 469px;
		float: none;
		margin-left: 0px;
		margin-top: 20px;
	}

}

@media only screen and (min-width: 0px) and (max-width: 500px) {

	#photo_grid_wrapper .photo {
		width: 100%;
		margin-bottom: 15px;
	}

	#photo_grid_wrapper {
		margin-right: 0px;
	}

	.assignment_row h2 {
		display: block;
	}

	.assignment_row span.small {
		display: block;
		margin-left: 0px;
	}

}