// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo_grid_wrapper {
	margin-top: 15px;
	margin-right: -10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#photo_grid_wrapper .photo img {
	/*margin-bottom: 20px;*/
	/*margin-right: 20px;*/
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

#photo_grid_wrapper .photo img:hover {
	opacity: 0.7;
}

#photo_grid_wrapper .photo {
	width: 200px;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
}

.photo .details p {
	margin: 0;
	line-height: 2em;
}

.photo .details p.tags {
	font-size: 0.9em;
	color: rgb(210,210,210);
}

#photo_grid_wrapper .photo .details {
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

#photo_grid_wrapper .photo a:hover + .details {
	display: block;
}

#single_photo_wrapper {
	margin-top: 15px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
}

#single_photo_wrapper #photo {
	width: 100%;
}

#single_photo_wrapper img {
	width: 100%;
}

#photo_search {
	display: inline;
	position: absolute;
	top: 10px;
	right: 21px;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {

	#photo_grid_wrapper .photo {
		width: 100%;
		margin-bottom: 15px;
	}

	#photo_grid_wrapper {
		margin-right: 0px;
	}

}